<ng-container *ngIf="standingsData">
  <table class="data-table">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Team Name</th>
        <th>Played</th>
        <th>Win</th>
        <th>Loss</th>
        <th>Draw</th>
        <th>Goal Difference</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of standingsData">
        <td><img [src]="team.team.logo" alt="{{ team.team.name }} Logo" width="40" height="40"></td>
        <td> <a (click)="selectTeam($event, team)"> {{ team.team.name }} </a> </td>
        <td>{{ team.all.played }}</td>
        <td>{{ team.all.win }}</td>
        <td>{{ team.all.lose }}</td>
        <td>{{ team.all.draw }}</td>
        <td>{{ team.goalsDiff }}</td>
        <td>{{ team.points }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>